* {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none
  }
nav {
  background-color: rgb(53, 53, 53);
}  
.barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
ul {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}