/* Utilizando el selector universal (apunt a a todos)
 para realizar el set de CSS*/
 * {
  /* se eliminan todos los margin por defecto */
  margin: 0;
  /* se eliminan todos los padding por defecto */
  padding: 0; 
  /* se elimina el estilo de las listas */
  list-style-type: none;
  /* el padding y border se consideran para calcular
   el tamaño de la caja */
  box-sizing: border-box;
  /* se elimina el subrayado de los links <a> */
  text-decoration: none
}

body, html {
  height: 100%;
}

section {
  width: 400px;
  padding: 10px;
  background-color: honeydew;
  border-style: solid;
  border-color: hotpink;
  border-width: 5px;

  /* Aquí configurar el display flex
  de la sección entera */
}

/* Aquí crear los estilos para la clase avatar
 y configurar el display flex que requiere */

